/* h1{
    font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */
    
*{
  margin: 0;  
  padding: 0;
    font-family: "Anton SC", sans-serif;  
}

.main_box{
  background-image: url(photo.jpg);
  height:100vh;
  background-size: cover;
}

.btn_one{
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left:16px;
  line-height: 60px;
  cursor: pointer;
}

.sidebar_menu{
  position:fixed;
  left: -300px;
  height: 100vh;
  width:30vh;
  background-color: rgb(255,255,255,0.1);
  box-shadow: 0 0 6px rgb(255,255,255,0.5);
  transition-duration: 0.5s;
}

.sidebar_menu .logo{ 
  position: absolute;
  width:100%;
  line-height: 60px;
  box-shadow: 0 2px 4px rgb(255,255,255,0.5);
  height:60px; 
}
.sidebar_menu .logo a{
  position:absolute;
  color:white;
  left:50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.sidebar_menu .btn_two{
  color: gray;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left:190px;
  line-height: 60px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
}
.sidebar_menu .menu li {
  margin-top: 6px;
  padding: 14px 20px;
  width:24.1vh;
}

.sidebar_menu .menu a{
  color: white;
  text-decoration: none;
  padding-right: 8px;
}
.sidebar_menu .social_media{
  color:white;
  opacity: 1;
  position: absolute;
  left: 25px;
  bottom:30px
}
.sidebar_menu .social_media i{
  color: white;
  opacity: 0.5;
  padding:5px;
}
#check{
  display: none;
}
.sidebar_menu .menu li:hover{
  box-shadow: 0 0 4px rgb(255,255,255,0.5);
}
.btn_one:hover{
  font-size: 40px;
}

.btn_two:hover{
  font-size: 30px;
}

.sidebar_menu .social_media i:hover{
  opacity: 1;
  transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
  left:0;
}

#check:checked ~ .sidebar_menu .btn_two{
  opacity: 1;
}

#check:checked ~ .btn_one i{
  opacity: 0;
}



